.mypost {
    padding: 0 20px;
    margin-bottom: 20px;
}
.mypost__new textarea {
    width: 100%;
    height: 50px;
    border: 1px solid #adb9d1;
    margin-bottom: 20px;
    padding: 15px 0 0 20px;
}
.mypost__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.button {
    color: #f6f6f6;
    width: 83px;
    height: 19px;
    -webkit-box-shadow: inset 0 1px 1px rgba(149, 175, 224, 0.75);
    box-shadow: inset 0 1px 1px rgba(149, 175, 224, 0.75);
    border: 1px solid #1c1c1c;
    background-color: #adb9d1;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#30497c), to(#395592));
    background-image: -o-linear-gradient(bottom, #30497c 0%, #395592 100%);
    background-image: linear-gradient(to top, #30497c 0%, #395592 100%);
    display: block;
}

.button_cancel {
    margin-left: 10px;
}

